/* ***************** */
/* HEADER */
/* ***************** */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 86px;
  margin: 0 -15px;
  margin-bottom: 90px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  gap: 4px;
}

.navbar-toggler {
  display: none;
  padding: 4px;
  background-color: var(--white);
}

.navbar-toggler-icon {
  color: var(--black-300);
  --ionicon-stroke-width: 30px;
}

.navbar-nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar-nav.order-first {
  order: -1;
}

.nav-link {
  position: relative;
  line-height: 1;
  color: var(--gray-100);
  text-transform: capitalize;
}

.nav-link::before {
  content: "";
  display: block;
  border-bottom: 1px solid var(--green);
  width: 0;

  position: absolute;
  left: 0;
  bottom: -8px;
}

.nav-link:hover {
  color: var(--white);
}

.nav-link:hover::before {
  width: 100%;
}

/* ***************** */
/* HERO */
/* ***************** */
.hero-img-container {
  grid-row: 1 / 3;
}

.hero-img-box {
  max-width: 470px;
}

.hero-heading {
  margin-bottom: 48px;
}

.hero-heading > .heading-primary {
  margin-bottom: 24px;
}

.hero-form {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
  border-radius: var(--border-radius-md);
  background-color: var(--white);
}

.hero-form-select-box {
  display: flex;
  align-items: center;
  gap: 29px;
}

.hero-form-select {
  display: flex;
  align-items: center;
  gap: 12px;
}

.hero-icon-box {
  padding: 12px;
  border: 1px solid var(--gray-100);
  border-radius: 50%;
}

.hero-icon {
  font-size: 24px;
  color: var(--green);
}

.hero-form-label {
  display: flex;
  align-items: center;
  gap: 26px;
  margin-bottom: 8px;
}

.hero-form-label > p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
}

.hero-form-value {
  line-height: 1;
  color: var(--black-300);
}

.hero-rate {
  display: flex;
  align-items: center;
  gap: 34px;
}

.hero-rate-number {
  font-size: 36px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 14px;
}

.hero-rate-number > span {
  color: var(--blue);
}

.hero-rate-text {
  line-height: 1;
}

/* ***************** */
/* FEATURES */
/* ***************** */
.feature-wrapper {
  position: relative;
  padding-bottom: 90px;
}
.feature-heading-box {
  margin-bottom: 48px;
}

.feature-heading-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.m-explore-link {
  display: none;
}

.feature-intersect-bg {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 326px;
  background-color: var(--black-200);
}

.feature-intersect-img {
  height: 100%;
}

/* ***************** */
/* SERVICES */
/* ***************** */
.service-text-wrapper,
.wcu-text-wrapper {
  max-width: 470px;
}

.service-text-box,
.wcu-text-box {
  margin-bottom: 40px;
}

.service-text-box > .heading-secondary,
.wcu-text-box > .heading-secondary {
  margin-bottom: 20px;
}

.service-feature-list.grid--2-cols {
  --grid-col: 2;
  max-width: 400px;
}

.service-feature-item,
.wcu-feature-item {
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 18px;
  line-height: 1;
  color: var(--white);
}

.service-feature-item > svg,
.wcu-feature-item > svg {
  min-width: 22px;
}

/* ***************** */
/* WCU */
/* ***************** */
.wcu-img-container {
  position: relative;
}

.employee-box {
  position: absolute;
  bottom: 33px;
  left: 50%;
  transform: translateX(-50%);

  padding: 30px;

  display: flex;
  justify-items: center;
  gap: 33px;
  background: linear-gradient(
    125.01deg,
    rgba(0, 0, 0, 0.45) 29.4%,
    rgba(0, 0, 0, 0) 97.93%
  );
  filter: drop-shadow(10px 14px 74px rgba(2, 92, 138, 0.27));
  backdrop-filter: blur(30px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 22px;
  white-space: nowrap;
}

.employee-rate {
  display: flex;
  align-items: center;
  gap: 11px;

  line-height: calc(18 / 16);
  color: var(--white);

  opacity: 0.8;
}

.employee-rate ion-icon {
  font-size: 24px;
}

.employee-rate > span {
  font-size: 20px;
  line-height: calc(28 / 20);
  font-weight: 500;
}

.employee-title {
  font-size: 34px;
  line-height: calc(38 / 34);
  color: var(--white);
  margin-bottom: 14px;
}

.employee-img-box {
  display: flex;
  align-items: center;
}

.employee-img {
  width: 64px;
  border: 3px solid #ffffff;
  box-shadow: -9px 2px 24px -5px rgba(0, 0, 0, 0.38);

  border-radius: 50%;
  overflow: hidden;
}

.employee-img:not(:first-child) {
  margin-left: -27px;
}

.wcu-text-container {
  grid-row: 1;
}

.wcu-img-box {
  --border-radius-top-left: 50%;
}

.wcu-img-box::after {
  border-top-left-radius: var(--border-radius-top-left);
}

.wcu-img-box > img {
  border-top-left-radius: var(--border-radius-top-left);
}
